<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="./icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/room.css">

</head>
    <body>
        <header>
            <nav>
                <a href="/" class="logo">StudyShip 📖</a>
                <div class="mobile-menu">
                    <a href="/createRoom">Erstellen</a>
                    <a href="/search">Suchen</a>
                    <form action="/logout" method="POST" class="logout-form">
                        <button type="submit" class="logout-link-style">Abmelden</button>
                    </form>
                </div>
            </nav>
        </header>

        <main >
            <script src="/socket.io/socket.io.js"></script>
            <script src="../scripts/room.js"></script>
            <div class="red-rounded-box header-box">
                <h1 contenteditable="true">{{room.name}}</h1><!--false for User-->
            </div>
            <div class="room-layout">
                <section class="room-info">

                    <div id="subject" class="border-box sub-header">
                        <span >{{room.subject}}</span>
                        {!--No select for User--}}
                        <select class="form-control" id="roomSubject" name="roomSubject">
                            <option value="any">any</option>
                            {{#each subjects}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div id="description" class="border-box">
                        <p contenteditable="true">{{room.description}}</p><!--false for User-->
                    </div>

                    <div class="red-rounded-box members-field">
                        <h3>Mitglieder:</h3>
                        <button class="share-btn">🔗 teilen</button>
                        <ul>
                            {{#each members}}
                                <li>{{this.name}}
                                    <button class="kickUserButton" onclick="changeOwner(this)">Zum Admin</button><!--not for User-->
                                    <button class="kickUserButton" onclick="removeUser(this)">x</button><!--not for User. Admin gets Asked be-->
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <button onclick="deleteRoom()">Raum Löschen</button><!--not for User-->
                    <button onclick="leaveRoom()">Verlassen</button><!--not for Admin!!! Only after giving away admin rights.-->
                    <button onclick="editRoom()">Bearbeiten</button><!--not for User-->
                </section>

                <aside class="chat-area"><!--CSS:move the chat a bit up so you don't need to scroll down evertime you open the window-->
                    <h4>Nachrichten:</h4>
                    <ul id="messages" class="chat-window">
                        {{#each messages}}
                            <li class="message-bubble">{{this.user}}<small>[{{this.timestamp}}]</small>: {{this.content}}</li>
                        {{/each}}
                    </ul>
                    <div class="chat-input">
                        <input type="text" name="message" id="message" placeholder="...">
                        <button onclick="sendMessage()" class="send-button">➤</button>
                    </div>
                </aside>
            </div>
        </main>
        <footer>
            <p>Diese Seite wurde erstellt von Barnabas Steiner, Tim ...</p>
            <p>Nur zur internen Verwendung an der DHBW Ravensburg Campus Friedrichshafen.</p>
        </footer>
    </body>
<!--
    js:verstecke die folgenden elemente bis dise aufgerufen werden.
    CSS: Remove the <style> and eddit the .confimation windows and the buttons .yes-btn .no-btn
    <div style=" position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; " class="user-kick-confirmation-window">
        <div class="confirmation-window">
            <h2>Warnung!</h2>
            <p>Wollen sie wirklich den Nutzer entfernen?</p>
            <button id="kick-confirmation" class="yes-btn">ja</button>
            <button id="kick-rejected" class="no-btn">nein</button>
        </div>
    </div>
    <div style=" position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; " class="new-admin-confirmation-window">
        <div class="confirmation-window">
            <h2>Warnung!</h2>
            <p>Wollen sie geben ihre Adminrechte abgeben?</p>
            <button id="new-admin-confirmation" class="yes-btn">ja</button>
            <button id="new-admin-rejected" class="no-btn">nein</button>
        </div>
    </div>
    -->
</html>