<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>StudyShip</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <style> {{!--Extrackt to style.css later--}}
    header{
        background-color: red;
        color: white;
        padding: 16px;

    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 25px;
    }
    .mobile-menu a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
    }
    .mobile-menu a:hover{
        color: white;
        text-decoration: underline;
        margin-left: 20px;
    }
    </style>
</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">StudyShip 📖</a>
        <div class="mobile-menu">
            <a href="/rooms/create">Erstellen</a>
            <a href="/search">Suchen</a>
            <a href="/logout">Abmelden</a>
        </div>
    </nav>
</header>
{{!-- Body of each page will go here --}}
<main><p>What ever I Whant to schreiben here</p></main>

<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/room.js"></script>


<h4>{{room.name}}</h4>
<div class="container">
    <h1>Members</h1>
    <ul id="memberList">
        {{#each members}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <h1>Messages</h1>
    <ul id="messages">
        {{#each messages}}
            <li id="{{this.user}}">{{this.user}}[{{this.timestamp}}]: {{this.content}} </li>
        {{/each}}
    </ul>

    <input value="" type="text" name="message" id="message">
    <button onclick="sendMessage()">Send</button>

</div>

<button onclick="deleteRoom()">Delete</button>

</body>
</html>