<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
</head>
<body>

<nav>
    <h4>{{room.name}}</h4>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
</nav>
<div class="container">
    <h1>Members</h1>
    <ul>
        {{#each members}}
            <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <h1>Messages</h1>
    <ul>
        {{#each messages}}
            <li>{{this.user}}, {{this.timestamp}}: {{this.content}} </li>
        {{else}}
            <p>No messages yet</p>
        {{/each}}
    </ul>
</div>


</body>
</html>